<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 开启注解的扫描 -->
	<context:component-scan base-package="com.house"/>
	
	<!-- 配置C3P0的连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql:///house"/>
		<property name="user" value="root"/>
		<property name="password" value=""/>
	</bean>
	
	<!-- LocalSessionFactoryBean加载配置文件,生成seesionFactory,创建对象的表结构 -->
	<!-- 通常一个sessionFactory 代表一个数据库 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 先加载连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 加载可选配置-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- 引入映射的配置文件 -->
		<property name="mappingResources">
			<list>
				<value>com/house/domain/Agent.hbm.xml</value>
				<value>com/house/domain/Comment.hbm.xml</value>
				<value>com/house/domain/House.hbm.xml</value>
				<value>com/house/domain/News.hbm.xml</value>
				<value>com/house/domain/User.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 先配置平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启事务的注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置baseDao -->
	<bean id="baseDao" class="com.house.dao.impl.BaseDaoImpl" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 配置房子模块 -->
	<bean id="houseAction" class="com.house.web.action.HouseAction" scope="prototype">
		<property name="houseService" ref="houseService"></property>
		<property name="agentService" ref="agentService"></property>
	</bean>
	<bean id="houseService" class="com.house.service.impl.HouseServiceImpl">
		<property name="houseDao" ref="houseDao"/>
	</bean>
	<bean id="houseDao" class="com.house.dao.impl.HouseDaoImpl" parent="baseDao"/>

	<!-- 配置经纪人模块 -->
	<bean id="agentAction" class="com.house.web.action.AgentAction" scope="prototype">
		<property name="agentService" ref="agentService"></property>
	</bean>
	<bean id="agentService" class="com.house.service.impl.AgentServiceImpl">
		<property name="agentDao" ref="agentDao"></property>
	</bean>
	<bean id="agentDao" class="com.house.dao.impl.AgentDaoImpl" parent="baseDao"/>
	
	<!-- 配置评论模块 -->
	<bean id="commentAction" class="com.house.web.action.CommentAction"  scope="prototype">
		<property name="commentService" ref="commentService"></property>
		 <property name="houserService" ref="houseService"></property>
		<property name="newService" ref="newService"></property>
		  <property name="userService" ref="userService"></property>
	</bean>
	<bean id="commentService" class="com.house.service.impl.CommentServiceImpl">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="commentDao" class="com.house.dao.impl.CommentDaoImpl" parent="baseDao"/>
	
	<!-- 配置新闻模块 -->
   <bean id="newsAction" class="com.house.web.action.NewsAction"  scope="prototype">
          <property name="houserService" ref="houseService"></property>
		<property name="newService" ref="newService"></property>
	</bean>
	<bean id="newService" class="com.house.service.impl.NewServiceImpl">
		<property name="newDao" ref="newDao"></property>
	</bean>
	
	<bean id="newDao" class="com.house.dao.impl.NewDaoImpl" parent="baseDao"/>
  <!-- 配置用户模块 -->
	  <bean id="userAction" class="com.house.web.action.UserAction"  scope="prototype">
          <property name="userService" ref="userService"></property>
		
	</bean>
	<bean id="userService" class="com.house.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="com.house.dao.impl.UserDaoImpl" parent="baseDao"/>
	
</beans>
